/* css 초기화 */
h1,h2,h3,h4,a,p,span,div{font-family:"Noto Sans Korean", sans-serif; font-weight:400;}
body,h1,h2,h3,h4,p,ul,section{padding:0; margin:0;}
a{text-decoration:none; color: #0000ff;}
a:hover,a:focus{text-decoration: underline; color: #ff0000;}
/* button{font-size:100%; font-family:inherit; border:0; padding:0; background-color:#ffffff00; cursor:pointer;} */
/* .mobile{display:none;} */
/* .show{display:unset;} */
/* .center{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); margin-right:-50%;} */
/* .middle{position:absolute; top:50%; transform:translate(0%, -50%);} */
/* .sr_only{position:absolute; overflow:hidden; width:1px; height:1px; padding:0; margin:-1px; border:0; clip:rect(0,0,0,0);} */
nav>ul>li>a{font-size: 18px; margin-bottom: 10px;}
nav>ul>li>ul>li>a{font-size: 16px; margin-left: 20px;}
